/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


a {
  color: rgba(255, 255, 255, .5);
}

a:hover {
  color: rgba(255, 255, 255, 1.0);
}

.dark-link,
.dark-link:hover {
  color: black;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * misc
 */

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem
}

.bd-callout h4 {
  margin-top: 0;
  margin-bottom: .25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout+.bd-callout {
  margin-top: -.25rem
}

.bd-callout-info {
  border-left-color: #5bc0de
}

.bd-callout-info h4 {
  color: #5bc0de
}

.bd-callout-warning {
  border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
  color: #f0ad4e
}

.bd-callout-danger {
  border-left-color: #d9534f
}

.bd-callout-danger h4 {
  color: #d9534f
}

.bd-callout-primary{
  border-left-color: #007bff
}

.bd-callout-primaryh4 {
  color: #007bff
}

.bd-callout-success{
  border-left-color: #28a745
}

.bd-callout-successh4 {
  color: #28a745
}

.bd-callout-default{
  border-left-color: #6c757d
}

.bd-callout-defaulth4 {
  color: #6c757d
}

/* Sinclair Logo font */
@font-face {
  font-family: 'sinclair';
  src: url("css/fonts/sinclair-logo.woff2") format("woff2"),
       url("css/fonts/sinclair-logo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* three state toggle switch */
.switch-toggle {
  background: transparent;
}

.switch-toggle input {
  position: absolute;
  opacity: 0;
}

.switch-toggle input + label {
  padding: 7px;
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
}

.switch-toggle input:checked + label {
  background: transparent;
  border: 1px solid white;
}

.switch-toggle input:hover + label {
  border: 1px solid white;
}

/* drive buttons */
.btn-drive-container {
  position: relative;
  text-align: center;
  color: white;
}

.btn-drive {
  color: white;
  background: transparent;
  border: 1px solid transparent;
}

.btn-drive:hover {
  border: 1px solid white;
}

.btn-drive:active {
  box-shadow: 0 0 0 .25rem rgba(139,142,144,.9) !important;
}

.btn-drive-label {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.7rem;
  pointer-events: none;
}

.page-link {
  color: rgba(255, 255, 255, .5);
  background: transparent;
}

.page-link:hover,
.page-link:active {
  color: black;
  background-color: white;
}

/*.page-link:active {
  box-shadow: none !important;
}
*/
